{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}

{% block contenido %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Estas logueado como:  {{ app.user.username }}, <a href="{{ path('app_logout') }}">Cerrar sesi칩n</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    <label for="inputEmail">Correo electr칩nico</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">Contrase침a</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Recuerdame
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
       Login
    </button>
</form>
 <h6>   
                <a href="{{ path('connect_google_start') }}">
                    Iniciar sesi칩n con Google
                </a><br></h6>
{% endblock %}
