<!DOCTYPE html>
<html lang="sp">
  <head>
    <meta charset="UTF-8" />

    <title>
      {% block title %}
        Tienda Artículos Segunda Mano Rodrigo!
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ asset('css/tienda.css') }}" />

    <script type="text/javascript"
      src="{{ asset('bootstrap-4.3.1-dist/js/bootstrap.min.js') }}"></script>
    <script src="http://js.nicedit.com/nicEdit.js"
      type="text/javascript"></script>
    <script type="text/javascript">
      bkLib.onDomLoaded(nicEditors.allTextAreas);
    </script>
    <link rel="stylesheet"
      type="text/css"
      href="{{ asset('bootstrap-4.3.1-dist/css/bootstrap.min.css') }}" />
    <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}" />
    {% block stylesheets %}

    {% endblock %}
  </head>
  <body>
    <div id="cab" class="cab text-center">
         <img class="logo" src="img/vibbo.png">
            <h3>TIENDA ARTÍCULOS 2ª MANO RODRIGO</h3> 
      {% if app.user %}
        <div class="mb-3">
          Estas logueado como: {{ app.user.username }}, <a href="{{ path('app_logout') }}">Cerrar
            sesión</a>
        </div>
      {% endif %}
    </div>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('inicioUsuario') }}">Inicio</a>
        <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a href="{{ path('connect_google_start') }}">Google</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('anunciosUsuario') }}">
                Mis anuncios
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('inicioUsuario') }}">
                Listado de anuncios
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('insertarAnuncio') }}">
                Poner un anuncio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_logout') }}">
                <img style="width:1.5rem;"
                  class="img-fluid"
                  src="{{ asset('login.png') }}" />Cerrar sesión
              </a>
            </li>
          </ul>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ path('anunciosUsuario') }}">
                Mis Anuncios
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('inicioUsuario') }}">
                Listado de Anuncios
              </a>
            </li>
                   <li class="nav-item">
              <a class="nav-link" href="{{ path('insertarAnuncio') }}">
                Poner un anuncio
              </a>
            </li>
          </ul>
          <form action="/busqueda"
            method="post"
            class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2"
              type="search"
              name="busqueda"
              placeholder="Introduce lo que quieres buscar"
              aria-label="Search" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Búsqueda
            </button>
          </form>
        </div>
      </nav>
    </div>
    <div class="container-fluid">
      {% block contenido %}
      {% endblock %}
    </div>
    {% block javascripts %}
    {% endblock %}
  </body>
</html>
