{% extends 'base.html.twig' %}
{% block title %}{{titulo}}{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block contenido %}
    <h1>{{titulo}}</h1>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-lg-3 portfolio-item">
            <br>
            <label>Provincias: </label>
            <form action="/busquedaProvincia" method="post">
                <select name="provincias">
                    {% for provincia in provincias %}
                        <option value="{{provincia.id}}">{{provincia.nombre}}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Seleccionar provincia</button>
            </form>
            {% for anuncio in anuncios %}
            </div>
        </div>
        <div class="espacio"></div>
        <div class="row">

            <div class="col-md-3 col-sm-6 col-lg-3 portfolio-item">
                <div class="card" style="width: 18rem;">
                    <img class="imgfluid" alt="fotoprincipal" alt="" src="">
                    <div class="card-body">
                        <h5 class="card-title">   <a href="" class="card-link">{{anuncio.titulo }}</a></h5>


                    </div>
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item">Precio: {{anuncio.precio}} €</li>
                     <!--   <li class="list-group-item">Fecha creación:  {{anuncio.fechacrea|date('d-m-Y')}}</li>
                                        <li class="list-group-item">Modificado: {{anuncio.fechamod|date('d-m-Y')}}</li>
                        -->  <li class="list-group-item">

                    </ul>
                    <div class="card-body">
                        <a href="" class="card-link">Ver</a>

                    </div>
                </div>
            </div>

            <h6>   
                <a href="{{ path('connect_google_start') }}">
                    Google
                </a><br></h6>

        {% endfor %}
    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}

